.header-background {
    background-position: center center;
    background-size: cover;
    height: 300px;
    position: relative;
    margin-top: -110px;
    background-color: #00FFFF; 
}

.filter-black {
	background-color: rgba(0, 0, 0, 0.1);
    content: "";
    display: block;
    height: 300px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}



.project-thumbnail {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border: none !important;
}
.project-thumbnail:hover  {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}

.proj-icon {
    width: 90%
}

.owner .avatar {
    margin-top: -85px;
    padding: 15px;
    position: relative;
    z-index: 3;
}

.owner .name h4 {
    margin-top: 10px;
}
#angular {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border: none !important;
}

#angular:hover  {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}

#css-icon {
    width: 75px;
    height: 98px;
}

.language-label {
    width: 75px;
}

.project-row {
    padding-top: 20px;
    border-bottom: 1px solid #f0eade;
}



.middle {
    left: 50%;
    right: 50%;
}

#projects-intro {
    background-color: #FFF;
    padding: 40px 0 40px 0;
}

#spacer {
    height: 38px;
}

.intro-link {
    margin: 0 10px 0 10px;
}

.goto-section {
    height: 150px;
    background-color: #00FFFF;
}

.goto-title {
    position: relative;
    top: 37%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}
.center-horizontal {
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    display: table;
}

.color {
    background-color: #00FFFF;
}

.section-padding {
    padding-top: 40px;
    padding-bottom: 40px;
}

#personal-intro {
    padding-bottom: 30px;
    clear: both;
}

#footer {
    padding: 20px 0 20px 0;
    color: #666;
    background-color: #f7f3ee;
}

#footer-home-link {
    color:  #666;
}

.footer-link {
    color: #666;
    font-size: 25px;
    padding: 6px 12px
}

a.btn.btn-simple.footer-link:hover {
    color: red;
}

.footer-element {
    padding: 14px 5px 14px 5px;
}

.resume-section {
    padding: 0px 0px 20px 0px;
}

#alert-section {
    background-color: #fffcf5;
}