{{yield}}
<div class="wrapper">
	<div class="profile-content section-nude">
		

				<!-- Begin contact section-->
				<div class="row color section-padding">
					<div class="container">
						<div id="alert-section">
							<div class="collapse" id="collapse-section">
							  <div class="well">
							    <h3 id="message" class="center-block"></h3>
							  </div>
							</div>
						</div>
						<form>
						  <div class="col-md-6 col-md-offset-3 form-group">
						  	<label id="name" for="name">Name</label>
						  	{{input value=name class="form-control" placeholder="Name" type="text"}}
						  </div>
						  <div class="col-md-6 col-md-offset-3 form-group">
						    <label id="emailAddress" for="emailAdress">Email Address</label>
						    {{input value=email class="form-control" placeholder="Email" type="email"}}
						  </div>
						  <div class="col-md-6 col-md-offset-3 form-group">
						    <label id="phoneNumber" for="phoneNumber">Phone</label>
						    {{input value=phoneNumber class="form-control" placeholder="Phone (optional)" type="tel"}}
						  </div>
						  <div class="col-md-6 col-md-offset-3 form-group">
								<label class="sr-only" for="inputHelpBlock">Input with help text</label>
								<label for="helpBlock">Message</label>
								{{textarea value=message rows="5" aria-describedby="helpBlock" class="form-control" placeholder="\"Hello...\"" type="text"}}
						  </div>
						  <div class="col-md-6 col-md-offset-3 form-group">
						  	<div class="btn" {{action "submitContactInfo" model}}>Send</div> 
						  </div>  					
						</form>
					</div>  				
				</div>
				<!-- End contact section-->
			
	</div>
</div>	