{{yield}}
			<!-- Begin projects goto section-->
			<div class="row goto-section">
				<h3 class="goto-title center-block text-center">My Work</h3>
			</div>
			<!-- End projects goto section-->

			<!-- Begin projects-intro-->
			<div id="projects-intro" >
				<div class="container">
					<div class="row">
						<p class="text-center">When I have free time, I like to work on new stuff that interests me.</p>
						<div class="btn center-horizontal">{{#link-to 'projects' class="btn btn-simple"}}Projects{{/link-to}}</div>
					</div>
				</div>
			</div>	
			<!-- End projects-intro-->