<nav class="navbar navbar-ct-transparent" role="navigation-demo" id="demo-navbar">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to "index"}}
           <div class="logo-container">
                <div class="navbar-brand">
                    <i class="fa fa-home"></i>
                </div>
            </div>
      {{/link-to}}
    </div>
<!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navigation">
      <ul class="nav navbar-nav navbar-right">
          <li>{{#link-to 'projects' class="btn btn-simple"}}Projects{{/link-to}}</li>
          <li>{{#link-to 'resume' class="btn btn-simple"}}Resume{{/link-to}}</li>
          <li>{{#link-to 'contact' class="btn btn-simple"}}Contact{{/link-to}}</li>
          <li><a href="https://twitter.com/josiahmccorkle" target="_blank" class="btn btn-simple"><i class="fa fa-twitter"></i></a></li>          
       </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-->
</nav>
<div class="header-background">
  
</div>
{{outlet}}
<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-sm-offset-2 col-xs-offset-3">
        <div class="col-md-5 col-sm-6 col-xs-12">
          <div class="footer-element">Josiah McCorkle&nbsp;&middot;&nbsp;&copy; 2017</div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <a href="https://github.com/josiahmccorkle/" target="_blank" class="btn btn-simple footer-link "><i class="fa fa-github"></i></a>
          <a href="https://twitter.com/josiahmccorkle" target="_blank" class="btn btn-simple footer-link "><i class="fa fa-twitter"></i></a>
          <a href="https://www.linkedin.com/in/josiah-mccorkle-692ba411" target="_blank" class="btn btn-simple footer-link"><i class="fa fa-linkedin"></i></a>
        </div> 
      </div>
    </div>
  </div>  
</div>