<div class="wrapper">

    <div class="profile-content section-nude">
	    <div class="container">
			<div class="row owner">
		    <div class="col-md-2 col-md-offset-5 col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3 text-center">
	        <div class="avatar">
	            <img src="/images/portrait.png" alt="Circle Image" class="img-circle img-no-padding img-responsive">
	        </div>
					<div class="name">
				    <h4>
				    	Josiah McCorkle<br>
				    	<small>Web Developer</small>
				    </h4>
					</div>
			  </div>
				<div id="personal-intro" class="col-md-6 col-md-offset-3 text-center">
            <p>Hi welcome to my site.</p>
        </div>
			</div>

		</div>
		<div class="container-fluid">
			{{projects-page}}
			<!-- Begin contact goto section-->
			<div class="row goto-section">
				<h3 class="goto-title center-block text-center">Contact Me</h3>
			</div>
			<!-- End contact goto section-->			
			{{contact-page}}
		</div>

	</div>

</div>

