<div class="profile-content section-nude">
	<div class="container">

		<div class="jumbo">
		  <div class="right tomster"></div>
		  <h2>Projects</h2>
		</div>

		<div class="project-row row">
		  
		  <div class="col-sm-6 col-md-6">
				
				<div class="project-thumbnail thumbnail">
				  <div class="caption">
				    <a href="http://localhost:1337" class="project-link btn btn-simple" role="button"><h3>Weather</h3></a>				    
				    <a href="https://github.com/josiahmccorkle/weather" class="btn btn-simple" role="button"><h3><i class="fa fa-github"></i></h3></a>
				  </div>
				  <img class="proj-icon" id="weather" src="/images/miami.png" alt="...">
				</div>

		  </div>

		</div>

	</div>
</div>	