<div class="container">
	<div class="jumbo">
	  <div class="right tomster"></div>
	  <h2>Resume</h2>
	  
	</div>

	<div class="row resume-section">	
		<h4 class="resume-section-title">TECHNICAL SKILLS</h4>
		<div class></div>
		<div class="">Proficient: JavaScript, AngularJS, Java, jQuery, HTML, CSS, SCSS, Less, Spring, SQL, MySQL, jqxGrid, Bootstrap</div>
		<div class="">Working Knowledge: Linux, Ember, React, NodeJS, ES6</div>
		<div class="">Tools: Jira, Confluence, Git, Stash, Bitbucket, Clearcase, Slack</div>
	</div>

	<div class="row resume-section">	
		<h4 class="resume-section-title">EXPERIENCE</h4>
		<div class="employer-section">
			<section>
				<h5 class="">FIDELITY INVESTMENTS<small>&nbsp;&nbsp;Fidelity Institutional Technology (FIT), Morrisville, NC<div class="pull-right">January 2013-Present</div></small></h5>
				<ul class="">
					<li class="list-unstyled">4+ years experience as a software developer, creating high-visibility web applications for financial products</li>
					<li class="list-unstyled">Delivering quality software in fast paced environment while focusing on code stability</li>
					<li class="list-unstyled">Collaborating with stakeholders to develop and deliver code </li>
					<li class="list-unstyled">Deciding the technical direction as tech-lead on multiple projects</li>
					<li class="list-unstyled">Submitting and reviewing code through formal code reviews using Git</li>
					<li class="list-unstyled">Improving security through code validation on new code and fixing pre-existing violations</li>
					<li class="list-unstyled">Consumption of web services and mapping data to client-side</li>
					<li class="list-unstyled">Implementing responsive web design with JavaScript/AngularJS client-side and Java server-side</li>
					<li class="list-unstyled">Aggregating existing components, designed by architecture team, into cohesive deliverables</li>
					<li class="list-unstyled">Proficient at leveraging browser developer tools to debug client-side code</li>
					<li class="list-unstyled">Proficient at leveraging IDEs to debug server-side code</li>
					<li class="list-unstyled">Implementing UXD design specifications</li>
					<li class="list-unstyled">Comfortable acquiring deep product knowledge and applying it to meet business requirements</li>
					<li class="list-unstyled">Delegating tasks to junior developers</li>
					<li class="list-unstyled">Continuing education in current and emerging technologies</li>
				</ul>
			</section>
			<section class="">
				<h5 class="">FIDELITY INVESTMENTS<small>&nbsp;&nbsp;Fidelity Institutional Technology (FIT), Morrisville, NC<div class="pull-right">July 2012-Dec 2012</div></small></h5>
				<ul class="">
					<li class="list-unstyled">Time tracking web application built on AngularJS</li>
					<li class="list-unstyled">Reduced client-side code defects in preparation for selling app to buyer</li>
					<li class="list-unstyled">Collaborated with the larger team using Jira, Bitbucket, and Slack</li>
				</ul>
			</section>
		</div>
	</div>

	<div class="row resume-section">
		<h4 class="resume-section-title">EDUCATION</h4>
		<div class="">
			<h5 class="">University of North Carolina at Charlotte<small>&nbsp;&nbsp;<div class="pull-right">May 2012</div></small></h5>
			<ul class="">
				<li class="list-unstyled">Major: Bachelor of Science in Computer Science</li>
			</ul>
		</div>
	</div>
</div>